.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
}

.noStyleBtn {
  border: none;
  background-color: transparent;
}

.menuBtn {
  display: block;
}

.overview {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.overview img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.overview h3 {
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.overview p {
  font-weight: bold;
  font-size: 12px;
  color: black;
}

.links {
  list-style: none;
  display: none;
  gap: 20px;
  color: black;
}

.links a {
  font-weight: bold;
  transition: all;
  transition-duration: 100ms;
  cursor: pointer;
  color: black;

}

.links a:hover {
  color: #595cff;
}

.links a:link {
  text-decoration: none;
}



.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: white;
  color: black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(100%);
}

.mobileMenu ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 1rem;
}


.mobileMenu ul a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 4px;
  border: transparent 2px solid;
  border-radius: 6px;
  margin-top: 10px;
}
.mobileMenu ul a{
  text-decoration: none;
}

.mobileMenu ul a:hover {
  border: #595cff 2px solid;
  background-color: #595cff;
  color: white;
  transition: all 300ms ease-in-out;
}

@media screen and (min-width: 600px) {
  .links {
    display: flex;
  }

  .menuBtn {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
}
